<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Info Page</title>
  </head>
  <body>
    <h1>Kim's Information Page</h1>
    <p>This is the info page: Something fancy and interesting</p>
  </body>
</html>
